.banner {
  height: 100%;
}
.wb-box .banner .top_serve ol {
  background-color: rgba(250, 150, 90, 0.8);
  color: #333333;
}
.wb-box .banner .top_serve ol li {
  color: #333333;
}
.wb-box .banner .top_serve ol li:hover {
  color: #ffffff;
}
.tu {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.tu img {
  width: 100%;
  height: 100%;
}
.diligently_box .chakan {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
}
.diligently_box .chakan p {
  width: 100%;
  height: 45px;
  font-size: 32px;
  color: #333333;
  cursor: pointer;
}
.diligently_box .chakan div {
  width: 60px;
  height: 60px;
  background: #fa965a;
  font-size: 48px;
  line-height: 52px;
  border-radius: 50%;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}
.modal {
  position: relative;
}
.modal .tanchuang {
  position: absolute;
  padding: 0;
  width: 250px;
  height: 190px;
  background-color: rgba(250, 150, 90, 0.8);
  top: 50%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}
.modal .tanchuang div {
  float: right;
  margin-right: 10px;
  right: 20px;
  width: 20px;
  height: 25px;
  font-size: 30px;
  cursor: pointer;
}
.modal .tanchuang h4 {
  padding: 0 30px;
  clear: both;
  text-align: center;
  font-size: 18px;
  color: #333;
  line-height: 40px;
  border-bottom: 1px solid #707070FF;
}
.modal .tanchuang h4:nth-child(4) {
  border-bottom: none;
}
