
#app{
    box-sizing: border-box;
    overflow: hidden;
}

// 头部
header{
    width: 1400px;
    height: 110px;
    padding: 32px 0;
    img{
        float: left;
        width: 215px;
        height: 49px;
    }
    ul{
        float: right;
        li{
            float: left;
            padding: 10px 10px ;
            text-align: right;
            width: 160px;
            height: 45px;
            line-height:25px;
            font-size: 24px;
            font-weight: bold;
            color: #333333;
            cursor:pointer;
            a{
                color: #000;
            }
        }
        li:hover{
            color: #FA965A;
        }
        a:hover{
            color: #FA965A;
        }
    }
}
.wb-box{
    // width: 1920px;
    width: 100%;
    position: relative;
    // 轮播
    .banner{
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
        }
        .top_serve{
            position: absolute;
            display: none;
            top:0px;
            left:64%;
            // transform: translateX(-50%);
            z-index: 999;
            width: 200px;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.1);
            border-radius: 0px 0px 10px 10px;
            ol{
                height: 100%;
                // display: flex;
                // flex-direction: column;
                li{
                    flex:1;
                    text-align: center;
                    margin: 0;
                    font-size: 24px;
                    width: 100%;
                    height: 50px;
                    line-height: 50px;
                    color: #ffffff;
                    cursor:pointer;
                }
                li:hover{
                   background-color:  #16167d;
                }
            }
        }
    }
    // 网站建设我们更专业
    .website{
        width: 1400px;
        height: 820px;
        ul{
            display: flex;
            li{
                flex:1;
                text-align: center;
                padding-right: 60px;
                &:last-child{
                    padding: 0;
                }
                img{
                    width: 133px;
                    height: 133px;
                }
                .title{
                    padding: 18px 0;
                    width: 100%;
                    height: 65px;
                    font-size: 32px;
                    color: #333333;
                }
                .xian{
                    width: 70px;
                    height: 5px;
                    background: #0686d8;
                }
                p{
                    margin-top: 20px;
                    width: 100%;
                    height: 210px;
                    font-size: 24px;
                    color: #666666;
                    line-height: 34px;
                    text-align: left;
                }
            }
            li:hover{
                img{
                    animation: jello 1s;
                }
            }
        }
    }
    // 深耕细分行业
    .solution{
        width: 100%;
        height: 920px;
        overflow: hidden;
        background: #0686d8;
        .solution_box{
            width: 1400px;
            overflow: hidden;
            // background-color: pink;
            text-align: center;
            .title{
                padding-top: 100px;
                width: 100%;
                height: 167px;
                opacity: 1;
                font-size: 48px;
                color: #ffffff;
                line-height: 67px;
            }
            .solution_p{
                width: 100%;
                height: 33px;
                font-size: 24px;
                color: #ffffff;
                line-height: 33px;
            }
        }
        .solution_list{
            margin-top: 80px;
            width: 1400px;
            overflow: hidden;
            .list_ul{
                float: left;
                width: 150px;
                height: 100%;
                text-align: center;
                box-sizing: border-box;
                margin-right: 20px;
                li:first-child{
                    background-color: #FA965A;
                }
                li{
                    width: 100%;
                    margin:20px 0;
                    // padding: 0 20px;
                    height: 38px;
                    font-size: 24px;
                    color: #ffffff;
                    line-height: 38px;
                    &:nth-child(1){
                        margin: 0;
                    }
                }
            }
            .list_div{
                float: left;
                padding-left: 55px;
                height: 100%;
                // background-color: red;
                width: calc(100% - 171px);
                border-left: 1px solid #ffffff;
                div{
                    width: 100%;
                    height: 48px;
                    font-size: 34px;
                    text-align: left;
                    color: #ffffff;
                }
                p{
                    width: 100%;
                    height: 160px;
                    font-size: 24px;
                    text-align: left;
                    color: #ffffff;
                    line-height: 37px;
                    padding: 25px 0;
                }
                ul{
                    display: flex;
                    // background: pink;
                    li{
                        flex:3;
                        text-align: center;
                        border: 1px solid #ffffff;
                        padding: 25px 0;
                        margin-right: 64px;
                        img{
                            width: 80px;
                            height: 80px;
                        }
                        &:last-child{
                            margin: 0;
                        }
                        div{
                            width: 100%;
                            height: 33px;
                            font-size: 24px;
                            text-align: center;
                            color: #ffffff;
                            line-height: 37px;
                        }
                        ol{
                            padding-left: 30px;
                            li{
                                list-style:disc;
                                border: none;
                                margin: 0;
                                width: 100%;
                                height: 25px;
                                opacity: 1;
                                font-size: 18px;
                                text-align: left;
                                color: #ffffff;
                                line-height: 37px;
                            }
                        }
                    }
                }
            }
        }
    }
    //为什么要选择我们 ？
    .why{
        width: 1400px;
        height: 700px;
        padding-bottom: 100px;
        border-bottom: 1px solid #7070706b;
        // background-color: pink;
        .why_list{
            display: flex;
            .why_tu{
                flex:5;
                padding-right: 80px;
                overflow: hidden;
                &:last-child{
                    padding: 0;
                }
                div{
                    width: 100%;
                    height: 200px;
                    background: url(../image/liubianxing-icon.png) no-repeat;
                    position: relative;
                    span{
                        display: block;
                        text-align: center;
                        // width: 72px;
                        margin-left: 45px;
                        width: 50%;
                        height: 200px;
                        padding: 35px 0;
                        font-size: 36px;
                        color: #ffffff;
                    }
                    .liang{
                        padding-top: 55px;
                    }
                    &::after{
                        content: url(../image/jiahao-icon.png);
                        position: absolute;
                        right: -60px;
                        top:55px;
                    }
                }
                p{
                    height: 140px;
                    font-size: 18px;
                    text-align: left;
                    color: #666666;
                    line-height: 27px;
                }
                
            }
        }
    }
    // 一站式服务
    .serve{
        width: 1400px;
        height: 590px;
        border-bottom: 1px solid #7070706b;
        // background-color: pink;
        ul{
            width: 100%;
            display: flex;
            justify-content: space-between;
            li{
                margin: 0;
                text-align: center;
                p{
                    width: 100%;
                    height: 45px;
                    font-size: 32px;
                    color: #333333;
                    padding: 15px 0;
                    line-height: 33px;
                }
            }
            img:hover{
                animation: swing 1s;
            }
        }
    }
    // 服务保障
    .safeguard{
        width: 1400px;
        height: 590px;
        border-bottom: 1px solid #7070706b;
        ul{
            width: 100%;
            display: flex;
            justify-content: space-between;
            li{
                margin: 0;
                text-align: center;
                p{
                    width: 100%;
                    height: 45px;
                    font-size: 32px;
                    color: #333333;
                    padding: 15px 0;
                    line-height: 33px;
                    &:nth-child(3){
                        height: 25px;
                        opacity: 1;
                        font-size: 18px;
                        color: #666666;
                    }
                }
            }
            li>img:hover{
                animation: bounceIn 1s;
            }
        }
    }
    // 用心对待每一个项目！
    .diligently{
        width: 100%;
        // height: 1100px;
        overflow: hidden;
        // background: #0686d8;
        .diligently_box{
            border-bottom: 1px solid #7070706b;
            width: 1400px;
            height: 100%;
            ul{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                li{
                    text-align: center;
                    position: relative;
                    margin-bottom: 40px;
                    div{
                        position: absolute;
                        bottom: 10px;
                        width: 100%;
                        height: 60px;
                        line-height: 60px;
                        font-size: 24px;
                        color: #ffffff;
                        // background: #fa965a;
                        border-radius: 0px 0px 10px 10px;
                    }
                    &:nth-child(1){
                        line-height: 40px;
                    }
                }
            }
        }
    }
    // 辉达时代动态
    .dynamic{
        width: 1400px;
        height: 900px;
        padding: 90px 0;
        .title{
            width: 100%;
            height: 67px;
            opacity: 1;
            font-size: 48px;
            // font-weight: bold;
            text-align: center;
            color: #000000;
        }
        ul{
            padding: 70px 0;
            width: 100%;
            display: flex;
            justify-content: center;
        }
        ol{
            li{
                width: 100%;
                height: 66px;
                opacity: 1;
                font-size: 24px;
                text-align: left;
                color: #666666;
            }
        }
    }
   // 定位
.right{
    position: fixed;
    z-index: 999;
    right:0;
    top:20%;
    ul{
        li{
            position: relative;
            height: 80px;
            text-align: right;
            margin-bottom: 5px;
            cursor:pointer;
            img{
                width: 80px;
                height: 80px;
            }
            p{
                font-size: 16px;
                text-align: left;
                padding-left: 50px;
            }
            .show{
                position: absolute;
                width: 180px;
                height: 80px;
                opacity: 0;
                top:0;
                font-size: 18px;
                line-height: 80px;
                margin: 0;
                background-color: #F9F9F9;
                // img{
                //     width: 100px;
                //     width: 100px;
                // }
            }
        }
        li:hover{
            img{
                animation: bounce 1s;
            }
        }
        li:nth-child(1):hover {
            img{
                opacity: 0;
            }
            .show{
                opacity: 1;
                width: 180px;
                background-color: #F9F9F9;
                transform: translate(-100px,0);
                transition: all 1s;
            }
            .show_img::after{
                content: '15011556811';
                background-color: #F9F9F9;
                width: 120px;
                height: 80px;
                position: absolute;
                padding-left: 20px;
                left: -120px;
            }
        }
        li:nth-child(2):hover {
            img{
                opacity: 0;
            }
            .show{
                opacity: 1;
                background-color: #F9F9F9;
                transform: translate(-100px,0);
                transition: all 1s;
            }
            .show_img::after{
                content: '';
                background: url(../image/外包二维码.jpg) no-repeat;
                background-size: 100%;
                width: 180px;
                height: 180px;
                position: absolute;
                left: -180px;
            }
        }
    }
} 
}

.general{
    text-align: center;
    padding: 90px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    p,div{
        float:left;
    }
    p:nth-child(1){
        width: 100%;
        height: 67px;
        opacity: 1;
        font-size: 48px;
        color: #333333;
        margin-bottom: 10px;
    }
    div:nth-child(2){
        width: 87px;
        height: 1px;
        background-color: #0686d8;
        border: 2px solid #0686d8;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            left:80px;
            top:0;
            width: 250px;
            height: 1px;
            border-bottom: 1px solid #0686d8;
        }
        &::before{
            content: '';
            position: absolute;
            right:80px;
            top:0;
            width: 250px;
            height: 1px;
            border-bottom: 1px solid #0686d8;
        }
    }
    p:nth-child(3){
        margin-top: 10px;
        width: 100%;
        height: 33px;
        font-size: 24px;
        color: #666666;
    }
}
.footer{
        width: 100%;
        height: 468px;
        background: #16167d;
        
        .footer_box{
            padding-top: 100px;
            width: 1400px;
            height: 100%;
            ul{
                float: left;
                margin-right: 120px;
                li{
                    margin: 12px 0;
                    width: auto;
                    height: 33px;
                    font-size: 24px;
                    text-align: left;
                    color: #ffffff;
                    line-height: 33px;
                    a{
                        color: #ffffff;
                        text-decoration: none;
                    }
                }
                li:nth-child(1){
                    height: 45px;
                    line-height: 45px;
                    font-size: 32px;
                }
            }
            div{
                float: left;
                p{
                    margin: 12px 0;
                    width: 174px;
                   
                    line-height: 32px;
                    border: 1px solid #ffffff;
                    border-radius: 8px;
                    text-align: center;
                    font-size: 24px;
                    color: #ffffff;
                }
                img{
                    width: 174px;
                    height: 174px;
                }
            }
            .footer_bot{
                width: 100%;
                clear: both;
                p{
                    width: 100%;
                    height: 56px;
                    border: none;
                    text-align: center;
                    font-size: 16px;
                    padding: 30px 0;
                }
            }
        }
    }
    
    @media screen and (min-width:980px) and (max-width:1200px){

        header,.website,.solution_box,.why,.serve,.safeguard,.diligently_box,.dynamic{
            width: 980px !important; 
        }
    }

    @media screen and (min-width:1200px) and (max-width:1400px){

        header,.website,.solution_box,.solution_list,.why,.serve,.safeguard,.diligently_box,.dynamic,.footer_box{
            width: 1200px !important; 
        }

        .wb-box{
            .banner{
                .top_serve {
                    position: absolute; 
                    top:0px;
                    left:59%; 
                }
            }
            .website{
                ul{
                    li{
                        .title{
                            font-size: 28px;
                        }
                        p{
                            font-size: 18px;
                        }
                    }
                }
            } 
            .solution .solution_list .list_div ul li ol li{
                font-size: 16px;
            }
            .footer .footer_box ul {
                margin-right: 70px;
            }
           .why{
                .why_list{
                    .why_tu div {
                        width: 198px;
                        span{
                            margin-left: 50px;
                        }
                    }
                }
           }
           .diligently .diligently_box ul li div{
               line-height: 36px;
               background-color: transparent;
           }
        }  
    }

    @media screen and (max-width:1400px){
        header,.solution_list,.website,.solution_box,.why,.serve,.safeguard,.diligently_box,.dynamic{
            width: 1400px;
        }
    }