#app {
  box-sizing: border-box;
  overflow: hidden;
}
header {
  width: 1400px;
  height: 110px;
  padding: 32px 0;
}
header img {
  float: left;
  width: 215px;
  height: 49px;
}
header ul {
  float: right;
}
header ul li {
  float: left;
  padding: 10px 10px ;
  text-align: right;
  width: 160px;
  height: 45px;
  line-height: 25px;
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  cursor: pointer;
}
header ul li a {
  color: #000;
}
header ul li:hover {
  color: #FA965A;
}
header ul a:hover {
  color: #FA965A;
}
.wb-box {
  width: 100%;
  position: relative;
}
.wb-box .banner {
  width: 100%;
  height: 100%;
}
.wb-box .banner img {
  width: 100%;
  height: 100%;
}
.wb-box .banner .top_serve {
  position: absolute;
  display: none;
  top: 0px;
  left: 66%;
  z-index: 999;
  width: 160px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 10px 10px;
}
.wb-box .banner .top_serve ol {
  height: 100%;
  background-color: rgba(250, 150, 90, 0.8);
}
.wb-box .banner .top_serve ol li {
  flex: 1;
  text-align: center;
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #333333;
  cursor: pointer;
}
.wb-box .banner .top_serve ol li:hover {
  background-color: #16167d;
  color: #ffffff;
}
.wb-box .website {
  width: 1400px;
  height: 700px;
}
.wb-box .website ul {
  display: flex;
}
.wb-box .website ul li {
  flex: 1;
  text-align: center;
  padding-right: 60px;
}
.wb-box .website ul li:last-child {
  padding: 0;
}
.wb-box .website ul li img {
  width: 133px;
  height: 133px;
}
.wb-box .website ul li .title {
  padding: 18px 0;
  width: 100%;
  height: 65px;
  font-size: 24px;
  color: #333333;
}
.wb-box .website ul li .xian {
  width: 70px;
  height: 5px;
  background: #0686d8;
}
.wb-box .website ul li p {
  margin-top: 20px;
  width: 100%;
  height: 210px;
  font-size: 18px;
  color: #666666;
  line-height: 34px;
  text-align: left;
}
.wb-box .website ul li:hover img {
  animation: jello 1s;
}
.wb-box .solution {
  width: 100%;
  height: 920px;
  overflow: hidden;
  background: #0686d8;
}
.wb-box .solution .solution_box {
  width: 1400px;
  overflow: hidden;
  text-align: center;
}
.wb-box .solution .solution_box .title {
  padding-top: 100px;
  width: 100%;
  height: 167px;
  opacity: 1;
  font-size: 48px;
  color: #ffffff;
  line-height: 67px;
}
.wb-box .solution .solution_box .solution_p {
  width: 100%;
  height: 33px;
  font-size: 24px;
  color: #ffffff;
  line-height: 33px;
}
.wb-box .solution .solution_list {
  margin-top: 80px;
  width: 1400px;
  overflow: hidden;
}
.wb-box .solution .solution_list .list_ul {
  float: left;
  width: 150px;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  margin-right: 20px;
}
.wb-box .solution .solution_list .list_ul li:first-child {
  background-color: #FA965A;
}
.wb-box .solution .solution_list .list_ul li {
  width: 100%;
  margin: 20px 0;
  height: 38px;
  font-size: 24px;
  color: #ffffff;
  line-height: 38px;
}
.wb-box .solution .solution_list .list_ul li:nth-child(1) {
  margin: 0;
}
.wb-box .solution .solution_list .list_div {
  float: left;
  padding-left: 55px;
  height: 100%;
  width: calc(100% - 171px);
  border-left: 1px solid #ffffff;
}
.wb-box .solution .solution_list .list_div div {
  width: 100%;
  height: 48px;
  font-size: 34px;
  text-align: left;
  color: #ffffff;
}
.wb-box .solution .solution_list .list_div p {
  width: 100%;
  height: 160px;
  font-size: 24px;
  text-align: left;
  color: #ffffff;
  line-height: 37px;
  padding: 25px 0;
}
.wb-box .solution .solution_list .list_div ul {
  display: flex;
}
.wb-box .solution .solution_list .list_div ul li {
  flex: 3;
  text-align: center;
  border: 1px solid #ffffff;
  padding: 25px 0;
  margin-right: 64px;
}
.wb-box .solution .solution_list .list_div ul li img {
  width: 80px;
  height: 80px;
}
.wb-box .solution .solution_list .list_div ul li:last-child {
  margin: 0;
}
.wb-box .solution .solution_list .list_div ul li div {
  width: 100%;
  height: 33px;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  line-height: 37px;
}
.wb-box .solution .solution_list .list_div ul li ol {
  padding-left: 30px;
}
.wb-box .solution .solution_list .list_div ul li ol li {
  list-style: disc;
  border: none;
  margin: 0;
  width: 100%;
  height: 25px;
  opacity: 1;
  font-size: 18px;
  text-align: left;
  color: #ffffff;
  line-height: 37px;
}
.wb-box .why {
  width: 1400px;
  height: 700px;
  padding-bottom: 100px;
  border-bottom: 1px solid #7070706b;
}
.wb-box .why .why_list {
  display: flex;
}
.wb-box .why .why_list .why_tu {
  flex: 5;
  padding-right: 80px;
  overflow: hidden;
}
.wb-box .why .why_list .why_tu:last-child {
  padding: 0;
}
.wb-box .why .why_list .why_tu div {
  width: 100%;
  height: 200px;
  background: url(../image/liubianxing-icon.png) no-repeat;
  position: relative;
}
.wb-box .why .why_list .why_tu div span {
  display: block;
  text-align: center;
  margin-left: 45px;
  width: 50%;
  height: 200px;
  padding: 35px 0;
  font-size: 36px;
  color: #ffffff;
}
.wb-box .why .why_list .why_tu div .liang {
  padding-top: 55px;
}
.wb-box .why .why_list .why_tu div::after {
  content: url(../image/jiahao-icon.png);
  position: absolute;
  right: -55px;
  top: 65px;
}
.wb-box .why .why_list .why_tu p {
  height: 140px;
  font-size: 18px;
  text-align: left;
  color: #666666;
  line-height: 27px;
}
.wb-box .serve {
  width: 1400px;
  height: 590px;
  border-bottom: 1px solid #7070706b;
}
.wb-box .serve ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.wb-box .serve ul li {
  margin: 0;
  text-align: center;
}
.wb-box .serve ul li p {
  width: 100%;
  height: 45px;
  font-size: 32px;
  color: #333333;
  padding: 15px 0;
  line-height: 33px;
}
.wb-box .serve ul img:hover {
  animation: swing 1s;
}
.wb-box .safeguard {
  width: 1400px;
  height: 590px;
  border-bottom: 1px solid #7070706b;
}
.wb-box .safeguard ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.wb-box .safeguard ul li {
  margin: 0;
  text-align: center;
}
.wb-box .safeguard ul li p {
  width: 100%;
  height: 45px;
  font-size: 32px;
  color: #333333;
  padding: 15px 0;
  line-height: 33px;
}
.wb-box .safeguard ul li p:nth-child(3) {
  height: 25px;
  opacity: 1;
  font-size: 18px;
  color: #666666;
}
.wb-box .safeguard ul li > img:hover {
  animation: jello 1s;
}
.wb-box .diligently {
  width: 100%;
  overflow: hidden;
}
.wb-box .diligently .diligently_box {
  border-bottom: 1px solid #7070706b;
  width: 1400px;
  height: 100%;
}
.wb-box .diligently .diligently_box ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.wb-box .diligently .diligently_box ul img {
  width: 440px;
  height: 330px;
  border-radius: 12px;
}
.wb-box .diligently .diligently_box ul li {
  width: 440px;
  /* height: 330px; */
  text-align: center;
  position: relative;
  margin-bottom: 40px;
}
.wb-box .diligently .diligently_box ul li div {
  width: 100%;
  margin-top: 20px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  /* border-radius: 0px 0px 10px 10px; */
}
.wb-box .diligently .diligently_box ul li p{
  color:#999999;
  font-size: 20px;
  margin: 0;
}
.wb-box .diligently .diligently_box ul li:nth-child(1) {
  line-height: 40px;
}
.wb-box .dynamic {
  width: 1400px;
  height: 900px;
  padding: 90px 0;
}
.wb-box .dynamic .title {
  width: 100%;
  height: 67px;
  opacity: 1;
  font-size: 48px;
  text-align: center;
  color: #000000;
}
.wb-box .dynamic ul {
  padding: 70px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.wb-box .dynamic ol li {
  width: 100%;
  height: 66px;
  opacity: 1;
  font-size: 24px;
  text-align: left;
  color: #666666;
}
.wb-box .right {
  position: fixed;
  z-index: 999;
  right: 0;
  top: 20%;
}
.wb-box .right ul li {
  position: relative;
  height: 80px;
  text-align: right;
  margin-bottom: 5px;
  cursor: pointer;
}
.wb-box .right ul li img {
  width: 80px;
  height: 80px;
}
.wb-box .right ul li p {
  font-size: 16px;
  text-align: left;
  padding-left: 50px;
}
.wb-box .right ul li .show {
  position: absolute;
  width: 180px;
  height: 80px;
  opacity: 0;
  top: 0;
  font-size: 18px;
  line-height: 80px;
  margin: 0;
  background-color: #F9F9F9;
}
.wb-box .right ul li:hover img {
  animation: bounce 1s;
}
.wb-box .right ul li:nth-child(1):hover img {
  opacity: 0;
}
.wb-box .right ul li:nth-child(1):hover .show {
  opacity: 1;
  width: 180px;
  background-color: #F9F9F9;
  transform: translate(-100px, 0);
  transition: all 1s;
}
.wb-box .right ul li:nth-child(1):hover .show_img::after {
  content: '15011556811 15236241008';
  background-color: #F9F9F9;
  width: 120px;
  height: 80px;
  line-height: 40px;
  position: absolute;
  padding-left: 20px;
  left: -120px;
}
.wb-box .right ul li:nth-child(2):hover img {
  opacity: 0;
}
.wb-box .right ul li:nth-child(2):hover .show {
  opacity: 1;
  background-color: #F9F9F9;
  transform: translate(-100px, 0);
  transition: all 1s;
}
.wb-box .right ul li:nth-child(2):hover .show_img::after {
  content: '';
  background: url(../image/外包二维码.jpg) no-repeat;
  background-size: 100%;
  width: 180px;
  height: 180px;
  position: absolute;
  left: -180px;
}
.modal {
  position: relative;
}
.modal .tanchuang {
  position: absolute;
  padding: 0;
  width: 250px;
  height: 190px;
  background-color: rgba(250, 150, 90, 0.8);
  top: 50%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}
.modal .tanchuang div {
  float: right;
  margin-right: 10px;
  right: 20px;
  width: 20px;
  height: 25px;
  font-size: 30px;
  cursor: pointer;
}
.modal .tanchuang h4 {
  padding: 0 30px;
  clear: both;
  text-align: center;
  font-size: 18px;
  color: #333;
  line-height: 40px;
  border-bottom: 1px solid #707070FF;
}
.modal .tanchuang h4:nth-child(4) {
  border-bottom: none;
}
.general {
  text-align: center;
  padding: 90px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 45px;
}
.general p,
.general div {
  float: left;
}
.general p:nth-child(1) {
  width: 100%;
  height: 67px;
  opacity: 1;
  font-size: 48px;
  color: #333333;
  margin-bottom: 10px;
}
.general div:nth-child(2) {
  width: 87px;
  height: 1px;
  background-color: #0686d8;
  border: 2px solid #0686d8;
  position: relative;
}
.general div:nth-child(2)::after {
  content: '';
  position: absolute;
  left: 80px;
  top: 0;
  width: 250px;
  height: 1px;
  border-bottom: 1px solid #0686d8;
}
.general div:nth-child(2)::before {
  content: '';
  position: absolute;
  right: 80px;
  top: 0;
  width: 250px;
  height: 1px;
  border-bottom: 1px solid #0686d8;
}
.general p:nth-child(3) {
  margin-top: 10px;
  width: 100%;
  height: 33px;
  font-size: 24px;
  color: #666666;
}
.footer {
  width: 100%;
  height: 468px;
  background: #16167d;
}
.footer .footer_box {
  padding-top: 100px;
  width: 1400px;
  height: 100%;
}
.footer .footer_box ul {
  float: left;
  margin-right: 120px;
}
.footer .footer_box ul li {
  margin: 12px 0;
  width: auto;
  height: 33px;
  font-size: 24px;
  text-align: left;
  color: #ffffff;
  line-height: 33px;
}
.footer .footer_box ul li a {
  color: #ffffff;
  text-decoration: none;
}
.footer .footer_box ul li:nth-child(1) {
  height: 45px;
  line-height: 45px;
  font-size: 32px;
}
.footer .footer_box div {
  float: left;
}
.footer .footer_box div p {
  margin: 12px 0;
  width: 174px;
  line-height: 32px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  text-align: center;
  font-size: 24px;
  color: #ffffff;
}
.footer .footer_box div img {
  width: 174px;
  height: 174px;
}
.footer .footer_box .footer_bot {
  width: 100%;
  clear: both;
}
.footer .footer_box .footer_bot p {
  width: 100%;
  height: 56px;
  border: none;
  text-align: center;
  font-size: 16px;
  padding: 30px 0;
}
@media screen and (min-width: 980px) and (max-width: 1200px) {
  header,
  .website,
  .solution_box,
  .why,
  .serve,
  .safeguard,
  .diligently_box,
  .dynamic {
    width: 980px !important;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  header,
  .website,
  .solution_box,
  .solution_list,
  .why,
  .serve,
  .safeguard,
  .diligently_box,
  .dynamic,
  .footer_box {
    width: 1200px !important;
  }
  .wb-box .banner .top_serve {
    position: absolute;
    top: 0px;
    left: 61%;
  }
  .wb-box .website ul li .title {
    font-size: 28px;
  }
  .wb-box .website ul li p {
    font-size: 18px;
  }
  .wb-box .solution .solution_list .list_div ul li ol li {
    font-size: 16px;
  }
  .wb-box .footer .footer_box ul {
    margin-right: 70px;
  }
  .wb-box .why .why_list .why_tu div {
    width: 198px;
  }
  .wb-box .why .why_list .why_tu div span {
    margin-left: 50px;
  }
  .wb-box .diligently .diligently_box ul li div {
    line-height: 36px;
    background-color: transparent;
  }
}
@media screen and (max-width: 1400px) {
  header,
  .solution_list,
  .website,
  .solution_box,
  .why,
  .serve,
  .safeguard,
  .diligently_box,
  .dynamic {
    width: 1400px;
  }
}
