*{margin: 0 auto;padding: 0;list-style: none;box-sizing: border-box;}
body{background:#fff;}
a{text-decoration: none;color: black;}
ul{
    padding: 0;
    list-style: none;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
iframe{
	width: 100%;
	/* overflow: hidden; */
}
.iframe1{
	 height: 114px;
}
.iframe2{
	 height: 448px;
}