<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>辉达时代</title>
		<meta name="keywords" content="辉达永盛教育，求精求强不求大，只做引领和创新。" />
		<meta name="description" content="专注IT技术岗前实训、java培训、web前端培训、UI设计培训、优秀IT培训机构、校企共建协同育人。" />
		<link rel="icon" href="./images/logos.png" sizes="50x50">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="./css/public.css">
		<link rel="stylesheet" href="./css/index.css">
		<link rel="stylesheet" href="./css/applet.css">
		<link rel="stylesheet" href="./Swiper-3.3.1/dist/css/swiper.min.css">
		<link rel="stylesheet" href="../css/Swiper.css">
		<script src="../js/huidait.js"></script>
		<script src="./js/setRem.js"></script>
		<script src="./js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.js" type="text/javascript" charset="utf-8">
		</script>
	</head>
	<body>
		<div id="box">

			<!-- 顶部-->
			<div class="box-top">

				<!-- <img src="./images/logo-icon.png" > -->
				<img src="./images/logo-icon@2x.png">
				<!-- <img src="./images/logo-icon@3x.png" > -->
				<img src="./images/弹窗按钮@2x.png" @click="Btn">
				<!-- 导航栏 -->
				<div class="box-top-nav" v-if="active">
					<div>
						<div class="top-nav-t">
							<img src="./images/logo-icon@2x.png">
							<img src="./images/×@2x.png" @click="Btn()">
						</div>
						<div class="top-nav-c">
							<div @click="top_nav_cc(index)" :style="[index===ind?styleobj1:styleobj2]"
								v-for="(item,index) in top_nav_c" :key="index">{{item}}</div>
						</div>
					</div>
					<div class="top-nav-b">
						<img src="./images/dianhua-icon.svg">
						<div>- 15011556811</div>
					</div>

				</div>
				<!-- 遮罩层 -->
				<div class="mask" @click="mask" v-if="active"></div>
			</div>

			<!-- 背景图 -->
			<div class="box-bg">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide" v-for="(item,index) in banners" :key="index">
							<img :src="item">
						</div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
			<!-- 网站建设 -->
			<div class="box-construction">
				<div class="general">小程序开发</div>
                <div class="website_img">
                    <div>抢占流量红利:全国9.35亿微信注册 用户,其中有6.5亿用户开通微信支付 抢占小程序,抢占市场流量。</div>
                    <div>用户体验提升:微信入口,即用即走, 消费者习惯用小程序轻松简单获得 所需,成交量与再次成交率提升。</div>
                    <div>场景渠道应用:轻便的新型营销场景 和营销通道,轻松解决线上线下的流 量转换。</div>
					<img src="./images/lititu@3x.png" alt="">
                </div>
			</div>
			<!-- 接入流程 -->
			<div class="why">
				<div class="general">
					<p>接入流程</p>
				</div>
				<div class="why_list">
					<div class="why_tu" v-for="(item,index) in flows" :key="index">
						<div>
							<img :src="item.img" alt="">
						</div>
						<p>{{item.con1}}</p>
						<p>{{item.con2}}</p>
					</div>
				</div>
			</div>
			<!-- 应用广泛 -->
			<div class="serve">
				<div class="general">
					<p>应用广泛</p>
				</div>
				<ul>
					<li v-for="(item,index) in abroads" :key="index">
						<img :src="item.img" alt="">
						<p>{{item.con}}</p>
					</li>
				</ul>
			</div>
			<!-- 小程序开发介绍 -->
			<div class="dynamic">
				<img src="./images/maoboli@3x.png" style="width: 100%; height: 100%;" alt="">
				<div class="vx-con">
					<div class="vx-con-c1">小程序开发介绍</div>
					<div class="vx-con-c2">
						<div>尊敬的客户您好: </div>
						<div> 欢迎您访问我们的网站,请允许我用简短的语言给您做下小程序开发的介绍, 请您一定耐心看完,因为这对您之后的选择很重要.</div>
						<div> 首先,小程序开发有两类: </div>
						<div>第一类:模板的使用,优势在于省钱和费用低,缺陷是不能够个性化,不在一定程 度上满足您的特定需求. </div>
						<div>第二类:定制开发,独立开发每一个页面、每一项功能,定制开发的特点是独一 无二的，功能是按照您的要求定制开发的，服务也更加到位，但就是价格比较高， 定制版的基本费用在上万元到十几万不等.</div>
						<div>如果这里所讲还没有解除您的疑虑,那么请您联系我们,会有专人为您解答更多 更详细的问题.</div>
					</div>
					<div class="vx-con-c3">
						 电话:15011556811<br/> 15236241008
					</div>
				</div>
			</div>
			<!-- 底部 -->
			<div class="copyright">
				<div>北京辉达时代网络技术有限公司</div>
				<div>版权所有 Copyright 2013-2023 All Rights Reserved</div>
				<div>京ICP备13009754号-4</div>
			</div>
			<!-- 定位 -->
			<div class="footer">
				<div class="footer-l" @click="zixun">
					<img src="./images/kefu-icon.svg">
					<div class="footer-con">在线客服</div>
				</div>
				<!-- 打电话 -->
				<div class="footer-r" @click="telBtn">
					<img src="./images/dianhua-2-icon.svg">
					<div class="footer-con">咨询电话</div>
				</div>
			</div>
			<!-- 电话阴影 -->
			<div class="tel" v-if="mskss">
				<div class="msks" @click="msksss"></div>
				<div class="tels">
					<div>
						<img src="images/dianhua2.png">
						<a  href="tel:15011556811">呼叫 150 1155 6811</a>
					</div>
					<div>
						<img src="images/dianhua2.png">
						<a  href="tel:15236241008">呼叫 152 3624 1008</a>
					</div>
					<div @click="msksss">取消</div>
				</div>

			</div>
			<!-- 回到顶部 -->
			<div class="back" v-show="backs" @click="back">
				<img src="images/jiantou2.svg">
				<div>回到顶部</div>
			</div>
			<!-- 咨询 -->
			<div class="zixun" @click="zixun">
				<img src="./images/zixun2-icon.svg">
				<div>咨询</div>
			</div>
		</div>
	</body>
	<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
	<script src="./Swiper-3.3.1/dist/js/swiper.min.js"></script>

	<script type="text/javascript">
		setTimeout(function() {
			var swiper = new Swiper('.swiper-container', {
				pagination: '.swiper-pagination',
				nextButton: '.swiper-button-next',
				prevButton: '.swiper-button-prev',
				loop: true,
				paginationClickable: true,
				spaceBetween: 0,
				centeredSlides: true,
				autoplay: 2000,
				autoplayDisableOnInteraction: false,
				observer: true,
				observerParents: true
			});
		}, 500)
	</script>
</html>
