<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>辉达时代</title>
		<meta name="keywords" content="辉达永盛教育，求精求强不求大，只做引领和创新。" />
		<meta name="description" content="专注IT技术岗前实训、java培训、web前端培训、UI设计培训、优秀IT培训机构、校企共建协同育人。" />
		<link rel="icon" href="./images/logos.png" sizes="50x50">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="./css/public.css">
		<link rel="stylesheet" href="./css/index.css">
		<link rel="stylesheet" href="./Swiper-3.3.1/dist/css/swiper.min.css">
		<link rel="stylesheet" href="../css/Swiper.css">
		<script src="./js/setRem.js"></script>
		<script src="./js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.js" type="text/javascript" charset="utf-8">
		</script>
	</head>
	<body>
		<div id="box">

			<!-- 顶部-->
			<div class="box-top">

				<!-- <img src="./images/logo-icon.png" > -->
				<img src="./images/logo-icon@2x.png">
				<!-- <img src="./images/logo-icon@3x.png" > -->
				<img src="./images/弹窗按钮@2x.png" @click="Btn">
				<!-- 导航栏 -->
				<div class="box-top-nav" v-if="active">
					<div class="top-nav-t">
						<img src="./images/logo-icon@2x.png">
						<img src="./images/×@2x.png" @click="Btn()">
					</div>
					<div class="top-nav-c">
						<div @click="top_nav_cc(index)" :style="[index===ind?styleobj1:styleobj2]"
							v-for="(item,index) in top_nav_c" :key="index">{{item}}</div>
					</div>
					<div class="top-nav-b">
						<img src="./images/dianhua-icon.svg">
						<div>- 15011556811</div>
					</div>

				</div>
				<!-- 遮罩层 -->
				<div class="mask" @click="mask" v-if="active"></div>
			</div>

			<!-- 背景图 -->
			<div class="box-bg">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide" v-for="(item,index) in banners" :key="index">
							<img :src="item">
						</div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
			<!-- 网站建设 -->
			<div class="box-construction">
				<div class="construction-t">
					<div>网站建设我们更专业</div>
					<div>我们的服务理念：尽一切力量做到最好！</div>
				</div>
				<div class="constructions">
					<div class="construction-items">
						<div class="construction-item" v-for="(item,index) in construction_items" :key="index">
							<div>
								<img :src="item.img">
							</div>
							<div>{{item.title}}</div>
							<div>
								{{item.con}}
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 行业 -->
			<div class="box-industry">
				<div class="industry-t">
					<div>深耕细分行业，提供更加垂直的行业解决方案</div>
					<div>电商，APP，小程序，公众号,管理系统，区块链等都有完整解决方案</div>
				</div>
				<!-- 行业导航 -->
				<div class="industry-nav">
					<div class="industry-navs">
						<div @click="industrys(index)" :style="[index===inds?style1:style2]" :key="index"
							v-for="(item,index) in industry_items">{{item.title}}<span
								:style="{'backgroundColor': (index===inds?'#000000':'#ffffff')}"></span></div>

					</div>
				</div>
				<!-- 行业内容 -->
				<div class="industry-content">
					<div>{{big_title}}</div>
					<div>{{big_title_con}}</div>
					<div class="industry-content-items">
						<div class="industry-content-item" v-for="(item,index) in 3" :key="index">
							<div>
								<img :src="small_img[index]">
								<div>{{small_title[index]}}</div>
							</div>
							<div>
								<li :key="i" v-for="(item,i) in small_title_con[index]">{{item}}</li>
							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- 服务 -->
			<div class="box-serve">
				<div class="serve-t construction-t">
					<div>一站式服务</div>
					<div>我们为您提供一站式网站建设解决方案让您顾虑全无!</div>
				</div>
				<!-- 服务内容 -->
				<div class="serve-items">
					<div class="serve-item" v-for="(item,index) in serve_item" :key="index">
						<img :src="item.img" alt="">
						<img src="./images/xiajiantou-icon.svg">
						<div>{{item.con}}</div>
					</div>
				</div>
			</div>
			<!-- 保障 -->
			<div class="box-safeguard">
				<div class="safeguard-t construction-t">
					<div>服务保障</div>
					<div>您还在为建设网站过程中繁琐的事情而烦恼么？</div>
				</div>
				<!-- 保障内容 -->
				<div class="serve-items">
					<div class="serve-item" v-for="(item,index) in safeguard_items" :key="index">
						<img :src="item.img" alt="">
						<img src="./images/xiajiantou-2-icon.svg">
						<div>{{item.con}}</div>
					</div>
				</div>
			</div>
			<!-- 项目 -->
			<div class="box-project">
				<div class="project-t construction-t">
					<div>用心对待每一个项目！</div>
					<div>我们的服务理念：尽一切力量做到最好！</div>
				</div>
				<!-- 项目内容 -->
				<div class="project-items">
					<div class="project-item" v-for="(item,index) in 6" :key="index">
						<div>
							<img :src="item.imgsrc">
						</div>
						<div>{{item.title}}</div>
						<div>{{item.title_con}}</div>
					</div>
				</div>
			</div>
			<!-- 新闻 -->
			<div class="box-news">
				<div class="construction-t news-t">
					<div>新闻资讯</div>
					<div>新闻资讯是包含海量资讯的新闻服务品台 真实反映每时每刻的新闻热点</div>
				</div>
				<!-- 新闻内容 -->
				<div class="news-content">
					<div class="news-item" v-for="(item,index) in neww" :key="index">
						<img :src="item.img" alt="">
						<div>{{item.title}}</div>
					</div>
					<!-- 查看更多 -->
					<div class="news-more">
						<div>点击查看更多资讯</div>
						<img src="images/youjiantou.svg">
					</div>
				</div>
			</div>
			<!-- 底部 -->
			<div class="copyright">
				<div>北京辉达时代网络技术有限公司</div>
				<div>版权所有 Copyright 2013-2023 All Rights Reserved</div>
				<div>京ICP备13009754号-4</div>
			</div>
			<!-- 定位 -->
			<div class="footer">
				<div class="footer-l" @click="zixun">
					<img src="./images/kefu-icon.svg">
					<div class="footer-con">在线客服</div>
				</div>
				<!-- 打电话 -->
				<div class="footer-r" @click="telBtn">
					<img src="./images/dianhua-2-icon.svg">
					<div class="footer-con">咨询电话</div>
				</div>
			</div>
			<!-- 电话阴影 -->
			<div class="tel" v-if="mskss">
				<div class="msks" @click="msksss"></div>
				<div class="tels">
					<div>
						<img src="images/dianhua2.png">
						<a  href="tel:15011556811">呼叫 150 1155 6811</a>
					</div>
					<div>
						<img src="images/dianhua2.png">
						<a  href="tel:15236241008">呼叫 152 3624 1008</a>
					</div>
					<div @click="msksss">取消</div>
				</div>

			</div>
			<!-- 回到顶部 -->
			<div class="back" v-show="backs" @click="back">
				<img src="images/jiantou2.svg">
				<div>回到顶部</div>
			</div>
			<!-- 咨询 -->
			<div class="zixun" @click="zixun">
				<img src="./images/zixun2-icon.svg">
				<div>咨询</div>
			</div>
		</div>
	</body>
	<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
	<script src="./Swiper-3.3.1/dist/js/swiper.min.js"></script>

	<script type="text/javascript">
		setTimeout(function() {
			var swiper = new Swiper('.swiper-container', {
				pagination: '.swiper-pagination',
				nextButton: '.swiper-button-next',
				prevButton: '.swiper-button-prev',
				loop: true,
				paginationClickable: true,
				spaceBetween: 0,
				centeredSlides: true,
				autoplay: 2000,
				autoplayDisableOnInteraction: false,
				observer: true,
				observerParents: true
			});
		}, 500)
	</script>
</html>
