
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>服务项目</title>
	<link href="css/adminStyle.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="./css/banner.css">
	<script src="js/jquery.js"></script>
	<script src="js/public.js"></script>
	<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/axios.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div id="box">
		<div class="wrap">
			<div class="page-title">
				<span class="modular fl"><i class="add_user"></i><em>服务项目</em></span>
			</div>
			<form>
                <table class="list-style">
                    <tr style="text-align: center;">
                        <td rowspan="15" style="width: 5%;">服务项目</td>
                        <td>类型</td>
                        <td style="width: 5%;" rowspan="15">

                                <a title="编辑" @click="compile()" data-toggle="modal" data-target="#myModal">
                                    <span>编辑</span>
                                </a>
                    </tr>
                    <tr style="text-align: center;"  v-for="(item,index) in list" :key="index">
                        <td>
                            {{item}}
                        </td>
                        <!-- 模态框 -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                            aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">
                                            数据编辑
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        <form role="form">
                                            <div class="form-group">
                                                <label>服务项目类型</label>
                                                <div class="ban_tit" v-for="(a,i) in list" :key="i" >
                                                    <input type="text" class="form-control" placeholder="文本输入" v-model="list[i]" >
                                                    <div @click="del(i)">×</div>
                                                </div>
                                                <a style="margin: 50%;" @click="pop_up">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </a>
                                            </div>

                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                        </button>
                                        <button type="button" class="btn btn-primary"  @click="put_in()">
                                            提交更改
                                        </button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>
                    </tr>
                    <tr>
                        <td >
                            <a style="margin: 50%;" @click="add()"  data-toggle="modal" data-target="#myModal">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </td>
                    </tr>
                </table>
            </form>
		</div>
	</div>
</body>
<script type="text/javascript">
	// 防止用户从地址栏直接进入
	// if(window.sessionStorage.getItem('user')==''|| window.sessionStorage.getItem('user')==null){
	// 	window.location.href="index.html"
	// }
	new Vue({
		el: '#box',
		data: {
			list: [],
			url: 'http://192.168.7.108/item2/Hd-OutsourcingWebsite/php/',
			// url:'http://www.huidait.cn/php/',
			newList:[]
		},
		methods: {
            // 提交
            put_in() {
                console.log(this.list)
                if(this.list !=''){
                    // console.log(111)
                        this.list=this.list
                    this.newList = ''
                    for (var i = 0; i < this.list.length; i++) {
                        if (this.list[i] != '') {
                            console.log(this.list[i])
                            this.newList += this.list[i]+','
                        }
                    }
                    this.newList = this.newList.substring(0, this.newList.length - 1)
                    console.log(this.newList)
                    let url = this.url + 'addTitle.php?title=' + this.newList
                    console.log(url)
                    axios.get(url).then(res=>{
                        console.log(res)
                        if(res.data=='ok'){
                            $('#myModal').modal('hide')
                            alert('提交成功')
                            this.load()
                        }else{
                            alert('提交失败')
                        }
                    })
                }else{
                    $('#myModal').modal('hide')
                    alert('没有数据')
                    return false
                }
                
			},
            // 添加
			add(){
				this.list.push('')
			},
			// 模态框
			compile() {
				this.load()
				console.log(this.list)
			},
			// 添加input
			pop_up() {
				this.list.push('')
			},
            // 删除
			del(index) {
                this.list.splice(index,1)
			},
			// 初始化图片
			load() {
				let url = this.url + "banner.php"
				axios.get(url).then(res => {
					// console.log(res)
					this.list = res.data.banner_title
					console.log(this.list)
					
				})
			}
		},
		mounted() {
			this.load()
		}
	})
</script>

</html>