<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>成功案例</title>
		<link rel="stylesheet" type="text/css" href="../css/public.css" />
		<link rel="stylesheet" type="text/css" href="../css/index.css"/>
		<link rel="stylesheet" type="text/css" href="../css/successfulcase.css" />
		<script src="../js/vue.js"></script>
	</head>
	<body>
		<div id="app">
			<!-- 头部 -->
			<header>
				<img src="../image/辉达外包LOGO.png">
				<ul>
					<li><a href="index.html"  target="_blank" >首页</a></li>
					<li class="top_serve">服务项目
						<div>
							<ol>
								<li v-for="(item,index) in banner_title" @click="fun(index)" :key="index">
									{{item}}
								</li>
							</ol>
						</div>
					</li>
					<li>成功案例</li>
					<li>联系我们</li>
				</ul>
			</header>
			<!-- 背景图 -->
			<div class="bg">
				<img src="../image/外包官网Banner2.1.png">
			</div>
			<!-- 成功案例 -->
			<div class="case">
				<div class="case-top">
					<div class="case-top-l">
						成功案例
					</div>
					<div class="case-top-r">
						<div :style="{'color': (item.active ===true ? '#E74F12':'#000000')}"
							@click="ifyprojectBtn(index)" :key="index" v-for="(item,index) in ifyprojects">{{item.name}}
						</div>
					</div>
				</div>
				<div class="case-bottom">
					<div class="case-bottom-items" :key="index" v-for="(item,index) in ifyprojects_item">
						<img :src="item.imgsrc" alt="">
						<div class="case-bottom-items-con">
							{{item.title}}
						</div>
					</div>
				</div>
			</div>
			<!-- 右边定位 -->
			<div class="right">
				<ul>
					<li>
						<div class="show" style="line-height: 60px;padding: 15px 0;">
							<p>电话</p>
							<p>15011556811</p>
						</div>
						<img src="../image/dianhua.png" alt="">
						
					</li>
					<li>
						<img src="../image/weixin.png" alt="">
						<!-- <p>微信</p> -->
						<p class="show show_img">微信咨询</p>
						<!-- <img class="show" src="../image/外包二维码.jpg" alt=""> -->
					</li>
					<li @click="consult($event)">
						<img src="../image/zixun.png" alt="">
						<!-- <p>咨询</p> -->
						<!-- <p class="show">咨询登记</p> -->
					</li>
					<li @click="top()">
						<img src="../image/top.png" alt="">
					</li>
				</ul>
			</div>
		</div>
		</div>
	</body>
	<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js" type="text/javascript" charset="utf-8">
	</script>
	<script src="../js/successfulcase.js" type="text/javascript" charset="utf-8"></script>
</html>
