* {
	margin: 0;
	padding: 0;
}

#box {
	/* max-width: 750px;
    min-width: 320px; */
	width: 100%;
	height: 100%;
	margin: 0 auto;
	opacity: 1;

}
html {
	font-size: 75px;
}
.tel{
	position: relative;
}
.tels{
	width: 100%;
	z-index: 999;
	position: fixed;
	bottom: 0.533333rem;
	left: 0;
	padding: 0 0.4rem;
	display: flex;
	flex-direction: column;
}
.tels>div:nth-child(3),
.tels>div:nth-child(2),
.tels>div:nth-child(1){
	margin-top: 0.2rem;
	padding: 0.4rem;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	height:1.2rem;
	background-color: #FFFFFF;
	border-radius: 0.266666rem;
}
.tels>div:nth-child(2)>img,
.tels>div:nth-child(1)>img{
	width: 0.533333rem;
	height: 0.533333rem;
	margin-right: 0.8rem;
}
.tels>div:nth-child(3),
.tels>div:nth-child(2)>a,
.tels>div:nth-child(1)>a{
	font-size: 0.533333rem;
	color: #3258e5;
}
.tels>div:nth-child(3){
	padding-left: 40%;
}
.tel .msks{
	z-index: 99;
	position: fixed;
	top: 0;
	left: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	opacity: 0.5;
	background-color: rgba(0,0,0,.9);
}
.zixun{
	text-align: center;
	position: fixed;
	top: 50%;
	left: 12%;
	transform: translate(-50%,-50%);
	width: 1.733333rem;
	height: 1.733333rem;
	background-color:rgba(50,88,229,.7);
	border-radius: 50%;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 0.266666rem;
}
.zixun>img{
	width: 0.666666rem;
	height: 0.666666rem;
}
/* 回到顶部 */
.back{
	text-align: center;
	position: fixed;
	bottom: 1.466666rem;
	right: 0.4rem;
	width: 1.433333rem;
	height: 1.433333rem;
	background-color: rgba(250, 150, 90, 0.8);
	border-radius: 50%;
	color: #333333;
	background-color: ;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	font-size: 0.213333rem;
	color:#fff;
}
.back>img{
	width: 0.4rem;
	height: 0.4rem;
}
/* 顶部 */
.box-top{
	z-index: 3;
	position: fixed;
	top: 0;
	left: 0;
	width: 10rem;
	padding: 0 0.4rem;
	box-sizing: border-box;
	display: flex;
	height: 1.24rem;
	align-items: center;
	justify-content: space-between;
	background-color: #FFFFFF;
}
.box-top>img:nth-child(1){
	width: 3.466666rem;
	height: 0.826666rem;
}
.box-top>img:nth-child(2){
	width: 0.573333rem;
	height: 0.426666rem;
}
/* 导航栏 */
.box-top-nav{
	z-index: 4;
	/* display: none; */
	position: absolute;
	right: 0;
	top: 0;
	width: 5.893333rem;
	height:100vh;
	/* overflow: auto; */
	display: flex;
	flex-direction: column;
	/* background-color: #CCCCCC; */
	padding-bottom: 0.626666rem;
	box-sizing: border-box;
	/* opacity: 1; */
	background: #ffffff;
}
/* 遮罩层 */
.mask{
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	width: 10rem;
	height: 100vh;
	opacity: 0.5;
	background-color: rgba(0,0,0,.9);
}
.top-nav-t{
	padding-left: 0.4rem;
	padding-right: 0.4rem;
	height: 1.2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 0.026666rem solid rgba(112,112,112,.1);
}
.top-nav-t>img:nth-child(1){
	width: 2.64rem;
	height: 0.64rem;
}
.top-nav-t>img:nth-child(2){
	width: 0.573333rem;
	/* height: 0.426666rem; */
}
.top-nav-c{
	padding-left: 0.4rem;
	padding-right: 0.4rem;
}
.top-nav-c>div{
	border: 0.026666rem solid rgba(112,112,112,.1);
	border-left: none;
	border-right: none;
	border-bottom: none;
	height: 0.933333rem;
	line-height: 0.933333rem;
	opacity: 1;
	font-size: 0.426666rem;
	text-align: left;
	color: #333333;
	padding-left: 0.4rem;
}
.top-nav-c>div:first-child{
	border-top: none;
}
.top-nav-c>div:last-child{
	border-bottom: none;
}
.top-nav-b{
	padding-left: 0.4rem;
	padding-right: 0.4rem;
	align-items: flex-end;
	margin-top: 1.333333rem;
	display: flex;
}
.top-nav-b>img{
	width: 0.4rem;
	height: 0.4rem;
	margin-right: 0.133333rem;
}
.top-nav-b>div{
	height: 0.453333rem;
	opacity: 1;
	font-size: 0.32rem;
	font-weight: 700;
	color: #707070;
}
.box-bg{
	margin-top: 1.24rem;
	width: 10rem;
	height: 3.653333rem;
}
.box-bg .swiper-container {
        width: 100%;
        height: 100%;
        
    }
.box-bg  .swiper-slide {
	width: 10rem;
        text-align: center;
        background: #fff;
		/* margin-right: 0 !important; */
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
	.box-bg  .swiper-slide>img{
		width:10rem;
		height: 100%;
	}
	/* 网站建设 */
.box-construction{
	width: 100%;
}
.construction-t{
	margin:0.746666rem auto 0.533333rem;
	width: 5.76rem;
	height: 1.386666rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.construction-t>div:nth-child(1){
	width: 5.786666rem;
	height: 0.8rem;
	position: relative;
	opacity: 1;
	font-size: 0.48rem;
	font-family: PingFang SC, PingFang SC-Bold;
	font-weight: 700;
	text-align: center;
	color: #333333;
	border-bottom: 0.026666rem solid #0686d8;
}
.construction-t>div:nth-child(1)::after{
	content:'';
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 1.066666rem;
	height: 0.08rem;
	opacity: 1;
	background-color:#0686d8;
}
.construction-t>div:nth-child(2){
	margin-top: 0.133333rem;
	height: 0.453333rem;
	opacity: 1;
	font-size: 0.32rem;
	font-family: PingFang SC, PingFang SC-Regular;
	font-weight: 400;
	text-align: left;
	color: #666666;
}
.constructions{
	width: 100%;
	height: 5.093333rem;
	overflow-y: auto;
	box-sizing: border-box;
}
.constructions::-webkit-scrollbar {
        display: none;
    }

.construction-items{
	width: 17.066666rem;
	display: flex;
}
.construction-item{
	border-radius: 0.133333rem;
	margin: 0 0.4rem;
	padding-top: 0.266666rem;
	box-sizing: border-box;
	/* justify-content: space-around; */
	width: 3.466666rem;
	height: 5.093333rem;
	opacity: 1;
	background: #ffffff;
	border: 0.013333rem solid #0686d8;
	box-shadow: 0 0.08rem 0.16rem 0 rgba(0,0,0,0.16); 
	display: flex;
	flex-direction: column;
	align-items: center;
}
.construction-item>div:nth-child(1)>img{
	width: 1.866666rem;
	height: 1.866666rem;
}
.construction-item>div:nth-child(2){
	height: 0.533333rem;
	opacity: 1;
	font-size: 0.373333rem;
	font-family: PingFang SC, PingFang SC-Regular;
	font-weight: 400;
	text-align: left;
	color: #333333;
	position: relative;
	box-sizing: border-box;
	margin-bottom: 0.066666rem;
}
.construction-item>div:nth-child(2)::after{
	content: '';
	position: absolute;
	top: 110%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 1.066666rem;
	height: 0.053333rem;
	opacity: 1;
	background: #0686d8;
}
.construction-item>div:nth-child(3){
	width: 3.066666rem;
	/* height: 1.706666rem; */
	opacity: 1;
	font-size: 0.266666rem;
	transform: scale(0.9);
	font-family: PingFang SC, PingFang SC-Regular;
	font-weight: 400;
	text-align: left;
	color: #666666;
	padding: 0 0.066666rem;
	box-sizing: border-box;
}
/* 行业 */
.industry-t{
	margin-top: 0.533333rem;
}
.industry-t>div:nth-child(1){
	height: 0.533333rem;
	opacity: 1;
	font-size: 0.373333rem;
	font-weight: 400;
	text-align: center;
	color: #333333;
}
.industry-t>div:nth-child(2){
	margin-top: 0.106666rem;
	height: 0.373333rem;
	opacity: 1;
	font-size: 0.266666rem;
	font-weight: 400;
	text-align: center;
	color: #666666;
}
/* 行业导航 */
.industry-nav{
	padding: 0 0.4rem;
	box-sizing: border-box;
	margin:0.4rem 0;
}
.industry-navs{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	opacity: 1;
	/* border: 0.013333rem solid #FA965A; */
	height: 0.8rem;
	line-height: 0.8rem;
	border-radius: 0.4rem;
}
.industry-navs>div{
	padding: 0.133333rem 0.266666rem;
	box-sizing: border-box;
	/* flex: 1; */
	opacity: 1;
	/* background: #fa965a; */
	background: #FFFFFF;
	/* border-radius: 0.4rem; */
	font-size: 0.32rem;
	/* transform: scale(0.8); */
	font-family: PingFang SC, PingFang SC-Regular;
	font-weight: 400;
	text-align: center;
	/* color: #ffffff; */
	color: #333333;
	position: relative;
}
.industry-navs>div>span{
	position: absolute;
	top: 85%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: block;
	width: 0.4rem;
	height: 0.04rem;
}
/* 行业内容 */
.industry-content{
	width: 100%;
	height: 12.346666rem;
	opacity: 1;
	background: #0686d8;
	padding: 0.426666rem 0.4rem 0.533333rem 0.4rem;
	box-sizing: border-box;
	opacity: 1;
}
.industry-content>div:nth-child(1){
	height: 0.746666rem;
	opacity: 1;
	font-size: 0.426666rem;
	font-weight: 400;
	text-align: center;
	color: #ffffff;
}
.industry-content>div:nth-child(2){
	height: 1.84rem;
	opacity: 1;
	font-size: 0.32rem;
	font-weight: 400;
	text-align: left;
	color: #ffffff;
}
.industry-content-items{
	justify-content: space-around;
	display: flex;
	flex-direction: column;
}
.industry-content-item{
	padding: 0.4rem 0;
	box-sizing: border-box;
	margin-top: 0.266666rem;
	display: flex;
	height: 2.666666rem;
	border: 2px solid #ffffff;
}
.industry-content-item>div:nth-child(1){
	height: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-right: 2px solid #ffffff;
}
.industry-content-item>div:nth-child(1)>img{
	width: 1.24rem;
	height: 1.213333rem;
}
.industry-content-item>div:nth-child(1)>div{
	margin-top: 0.266666rem;
	height: 0.533333rem;
	opacity: 1;
	font-size: 0.373333rem;
	color: #ffffff;
	line-height: 0.32rem;
}
.industry-content-item>div:nth-child(2){
	
	flex: 2;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* height: 2.666666rem; */
	/* padding: 0.4rem 0 0.346666rem 0; */
	/* align-items: center; */
	padding-left: 0.533333rem;
}
.industry-content-item>div:nth-child(2)>li{
	height: 0.373333rem;
	opacity: 1;
	font-size: 0.266666rem;
	text-align: left;
	color: #ffffff;
	line-height: 0.266666rem;
}
/* 服务 */
.serve-t{
	width: 5.786666rem;
	/* margin-bottom: 0.533333rem; */
}
.serve-t>div:nth-child(2){
	width: 7.68rem;
	text-align: center;
}
.serve-item>img:nth-child(1){
	width: 1.386666rem;
	height: 1.36rem;
}
.serve-item>img:nth-child(2){
	width: 0.266666rem;
	height: 0.266666rem;
}
.serve-item>div:nth-child(3){
	height: 0.533333rem;
	opacity: 1;
	font-size: 0.373333rem;
	font-family: PingFang SC, PingFang SC-Regular;
	font-weight: 400;
	text-align: left;
	color: #333333;
}
.serve-items{
	display: flex;
	height: 2.666666rem;
	padding: 0 30px;
	box-sizing: border-box;
	justify-content: space-between;
}
.serve-item{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
/* 保障 */
.safeguard-t{
	width: 5.786666rem;
	/* height: 238px; */
	/* overflow: hidden; */
}
.safeguard-t>div:nth-child(2){
	width: 6.72rem;
	text-align: center;
}
/* 项目 */
.project-t{
	width: 5.786666rem;
}
.project-t>div:nth-child(2){
	width: 5.786666rem;
	text-align: center;
}
/* 项目内容 */
.project-item{
	display: flex;
	flex-direction: column;
	margin-bottom: 0.533333rem;
	height: 4.186666rem;
}
.project-item>div:nth-child(1){
	width:4.253333rem;
	
	overflow: hidden;
}
.project-item img{
	width: 4.266660rem;
	height: 3.173333rem;
	opacity: 1;
	border-radius: 0.1rem;
	background: rgba(0,0,0,0.00);
	border-radius: 0.266666rem;
}
.project-item>div:nth-child(2){
	height: 0.533333rem;
	opacity: 1;
	font-size: 0.373333rem;
	font-family: PingFang SC, PingFang SC-Regular;
	font-weight: 400;
	text-align: center;
	color: #333333;
}
.project-item>div:nth-child(3){
	text-align: center;
	height: 0.373333rem;
	opacity: 1;
	font-size: 0.266666rem;
	font-family: PingFang SC, PingFang SC-Regular;
	font-weight: 400;
	color: #999999;
}
.project-items{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding:0 0.4rem;
	box-sizing: border-box;
}
/* 新闻 */
.news-t{
	width: 5.786666rem;
}
.news-t>div:nth-child(2){
	width: 5.786666rem;
	text-align: center;
}
/* /新闻内容 */
.news-content{
	padding: 0.666666rem 0.4rem 0.4rem;
	margin-top: 1.066666rem;
	box-sizing: border-box;
	opacity: 1;
	background: #ebebeb;
	display: flex;
	flex-direction: column;
}
.news-item{
	margin-bottom:0.6rem;
	display: flex;
	justify-content: space-between;
	height:1.333333rem;
	align-items: center;
	/* padding-bottom: 0.6rem; */
	border-bottom: 2px solid rgba(153,153,153,.1);
	padding-bottom: 0.36rem;
}
.news-item>img{
	width: 1.36rem;
	height: 1.28rem;
	margin-right: 0.533333rem;
}
.news-item>div{
	width: 7.093333rem;
	height:  1.28rem;
	/* line-height:1.066666rem ; */
	opacity: 1;
	font-size: 0.373333rem;
	font-weight: 400;
	text-align: left;
	color: #333333;
}
/* 查看更多 */
.news-more{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.news-more>img{
	width: 0.266666rem;
	height: 0.266666rem;
	margin-left: 0.093333rem;
}
.news-more>div{
	height: 0.453333rem;
	opacity: 1;
	font-size: 0.32rem;
	font-family: PingFang SC, PingFang SC-Regular;
	font-weight: 400;
	text-align: left;
	color: #0686d8;
}
/*  底部*/
.copyright{
	height: 1.12rem;
	opacity: 1;
	font-size: 0.266666rem;
	font-family: PingFang SC, PingFang SC-Regular;
	font-weight: 400;
	text-align: center;
	color: #666666;
	margin: 0.8rem 0;
	margin-bottom: 1.866666rem;
}
/* 固定的底部 */
.footer{
	z-index: 99999;
	width: 10rem;
	position: fixed;
	bottom: 0;
	left: 0;
	height: 1.066666rem;
	opacity: 1;
	background: #3258e5;
	display: flex;
}
.footer>div:nth-child(1){
	border-right: 0.026666rem solid #FFFFFF;
}
.footer>div{
	flex: 1;
	display: flex;
	/* text-align: center; */
	justify-content: center;
	align-items: center;
}

.footer img{
	width: 0.413333rem;
	height: 0.386666rem;
	margin-right: 0.133333rem;
}
.footer-con{
	opacity: 1;
	font-size: 0.373333rem;
	font-family: PingFang SC, PingFang SC-Regular;
	font-weight: 400;
	text-align: left;
	color: #ffffff;
	letter-spacing: 0.04rem;
}